{% set location = 'us-east1' %}
{% set name = env['deployment'] + '-' + env['name'] %}

{% set environmentVariables = properties['environmentVariables'] or {} %}
{% set function_name = name + "-function" %}
{% set parent = 'projects/' +  env['project'] + "/locations/" + location %}
{% set policy_name = name + "-policy" %}
{% set trigger = properties['trigger'] or {'httpsTrigger': {}} %}
{% set sourceRepoUrl = 'https://source.developers.google.com/projects/budget-slacker/repos/budget-slacker/moveable-aliases/master/paths/' + properties['codeLocation'] %}

{% set _ = environmentVariables.update({'deployTimestamp': env['current_time']|string}) %}

resources:
  - name: {{ function_name }}
    type: gcp-types/cloudfunctions-v1:projects.locations.functions
    properties:
      function: {{ function_name }}
      sourceRepository:
        url: {{ sourceRepoUrl }}
      parent: {{ parent }}
      timeout: 60s
      runtime: nodejs8
      availableMemoryMb: 256
      entryPoint: main
      {% if 'httpsTrigger' in trigger %}
      httpsTrigger: {}
      {% elif 'eventTrigger' in trigger %}
      eventTrigger:
        resource: $(ref.{{ trigger['eventTrigger'] }}.name)
        eventType: providers/cloud.pubsub/eventTypes/topic.publish
      {% endif %}
      environmentVariables:
        {{ environmentVariables }}
  - name: {{ name }}-policy
    action: gcp-types/cloudfunctions-v1:cloudfunctions.projects.locations.functions.setIamPolicy
    properties:
      resource: $(ref.{{ function_name }}.name)
      policy:
        bindings:
          - members:
            {% if properties['public'] %}
            - allUsers
            {% else %}
            - serviceAccount:{{ env['project'] }}@appspot.gserviceaccount.com
            {% endif %}
            role: "roles/cloudfunctions.invoker"

{% if 'httpsTrigger' in trigger %}
outputs:
  - name: url
    value: $(ref.{{ function_name }}.httpsTrigger.url)
{% endif %}
